<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title> Website's Tab Title </title>
		<meta charset="UTF-8" />
    		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    		<link rel="stylesheet" href="/css/stylesheet.css">
	</head>
	<body>
		<header>
            <nav>
                <ul>
                    <li><a>Home</a></li>
                    <li><a>Dashboard</a></li>
                    <li><a>Logout</a></li>
                </ul>
            </nav>
            <div class="title-block">
                <h1>The Tech Blog</h1>
            </div>
        </header>
		<main>
			{{{body}}}
		</main>
	</body>
</html>