<div class="flexbox">
    {{!-- iterated blocks --}}
    <div class="post">
        <div class="post-header">
            <span>title</span>
            <span>user and date</span>
        </div>
        <div class="post-text">text</div>
    </div>
</div>